include /blocks/rating-stars/index

mixin courses-slides(slides)
  - slides = slides || [];

  +b('ul').courses-slides&attributes(attributes)
    for slide in slides
      - slide.address = slide.address || {};
      - slide.text = slide.text || '';
      - isTextTooLong = slide.text.length > 400;

      - slide.text = isTextTooLong ? slide.text.slice(0, 400) : slide.text;

      +e('li').slide
        +e.slide-inner
          +e.review
            +e('h3').title
              = slide.title

            +rating-stars(slide.rating).courses-slides__rating

            +e.text
              = slide.text
              if isTextTooLong
                = ' '
                a(href='#') ...

            +e('a').more(href='#') все отзывы о курсе

          +e.author
            +e.author-inner
              +e('a').author-link(href='#')
                +e('img').userpic(src=slide.img)

                +e('p').name
                  = slide.author

              +e.address
                +e('img').country-flag(src='/img/flags/#{slide.address.country}.svg' width=16 height=12)
                = slide.address.name