include /blocks/section/index
include /blocks/text-input/index
include /blocks/button/index

mixin newsletter-test()
  +b('form').newsletter-test
    +section({
      color: 'gray',
      title: 'Тестовая рассылка'
    })   
      +e.fields
        +e.input
          +text-input()(placeholder='Тестовый e-mail' name='email')
        +button({
          mod: 'common'
        })(type='submit')
          | Отправить
    
