.newsletter-test
  text-align center

  &__fields
    display flex

    +below('phone')
      display block
      text-align left

  &__input
    margin-right -2px
    flex-grow 1

    +below('phone')
      margin-bottom 10px
