include /blocks/button/index
include /blocks/input-select/index

mixin newsletter-status(data)
  - data = data || {}
  - status = data.status
  
  +b.newsletter-status
    +section({
      color: status === 'inprogress' ? 'green' : 'yellow',
      title: 'Состояние и запуск рассылки'
    })
      +e.text
        if status === 'new'
          | Это новая рассылка, она еще не запускалась
        else if status === 'planned'
          | Эта рассылка будет разослана 
          =' '
          +e('span').highlighted
            =data.date
        else if status === 'inprogress'
          | Рассылка
          =' '
          +e('span').highlighted
            | запущена в данный момент
        else if status === 'finished'
          | Эта рассылка уже 
          +e('span').highlighted
            | завершена. 
          | Вы можете дослать ее новым участникам выбранной группы адресатов

        if status === 'new' || status === 'finished'
          +e('form').fields
            +e('span') 
              if status === 'new'
                | Начать рассылку
              if status === 'finished'
                | Дослать
            +e.row
              +e.field_select
                +input-select({
                  size: 'small',
                  items: [
                    {
                      value: 'now',
                      text: 'Немедленно'
                    }
                  ]
                })

              +e.field_medium
                +text-input()(
                  placeholder='dd/mm/yyyy'
                )

              +e.field_small
                +text-input()(
                  placeholder='--:--'
                )

            +button({mod: 'action'})(type='submit')
              | Запустить

        if status === 'planned' || status === 'inprogress'
          +e.button
            +button({mod: 'common'})
              +e.button-text
                if status === 'planned'
                  | Отменить запуск
                else if status === 'inprogress'
                  | Остановить рассылку

        if status === 'planned'
          +e.label 
            | Вы сможете изменить запланированную дату или начать рассылку немедленно
        else if status === 'inprogress'
          +e.label 
            | Вы сможете дослать рассылку позже
            br
            | Вы сможете изменить сообщение рассылки
            br
            | Вы не сможете изменить адресатов рассылки
