.newsletter-status
  text-align center

  &__highlighted
    color color_green
    font-weight bold

  &__fields
    margin-top 35px

  &__row
    margin 0 10px
    display inline-block
    vertical-align top

    +below('phone')
      margin 15px 0
      display block
      text-align center

  &__field
    display inline-block
    vertical-align top
    margin 0 5px

    &_select
      padding-top 1px

      +below('phone')
        margin 5px auto
        display block

    &_medium
      width 120px

    &_small
      width 50px

  &__label
    font-size 13px
    line-height 17px
    color light_gray_color

  &__button
    margin-top 33px
    margin-bottom 18px

  &__button-text
    font-weight bold
    color color_red
