.newsletter-template
  border 4px solid #F2E7B3
  border-radius 10px
  padding 35px 50px 50px
  margin 0 auto
  box-sizing border-box

  +below('small-tablet')
      padding-left 30px
      padding-right 30px

  &__field
    margin-bottom 20px

  &__label
    font-size 14px
    margin-bottom 10px
    display block

  &__textarea
    min-height 314px
    font-size 14px
    line-height 19px

  &__controls
    margin-top 25px
    display flex
    align-items center
    flex-wrap wrap

  &__cancel
    margin-left 25px

  &__remove
    margin-left auto
    color light_gray_color
    background transparent
    border 0
    font-size 16px
    cursor pointer

    &:hover
      text-decoration underline
