include /blocks/text-input/index
include /blocks/textarea-input/index
include /blocks/button/index

mixin newsletter-template(data)
  +b('form').newsletter-template
    +e.field
      +e('label').label(for='title')
        | Тема
      +text-input()(name='title' id='title' value=data.title)

    +e.field 
      +e('label').label(for='message')
        | Сообщение
      +textarea-input()(name='message' id='message').newsletter-template__textarea
        =data.message

    +e.controls
      +button({
        mod: 'action'
      })(type='submit')
        | Сохранить
      
      +e('a').cancel(href='#')
        | отмена
        
      if data.isEdit
        +e('button').remove(type='submit')
          | удалить шаблон
