include /blocks/text-input/index
include /blocks/textarea-input/index
include /blocks/input-select/index
include /blocks/button/index
include /blocks/label/index

mixin newsletter-form(data)
  - data = data || {}

  +b.newsletter-form
    +e.field
      +label.label(for='who')
        | Кому
      +e.line
        +input-select({
          size: 'small',
          items: [
            {
              value: 'all',
              text: 'Всем участникам группы'
            }
          ]
        })(name='who' id='who' class='newsletter-form__select')
  
        if data.haveSubgroup
          each val in [1, 2, 3]
            +e.group
              +input-select({
                size: 'small',
                items: [
                  {
                    value: 'remove',
                    text: 'Исключить'
                  }
                ]
              })(name='action' class='newsletter-form__select newsletter-form__select_small')
              +input-select({
                size: 'small',
                items: [
                  {
                    value: 'group',
                    text: 'Название исключенной группы'
                  }
                ]
              })(name='group' class='newsletter-form__select newsletter-form__select_middle')
              +e('a').remove

        +e('a').link
          | добавить/исключить группу

    +e.field
      +label.label(for='template')
        | Шаблон рассылки
      +e.line
        +input-select({
          size: 'small',
          items: [
            {
              value: 'new',
              text: 'Новая рассылка'
            }
          ]
        })(name='template' id='template' value=data.title class='newsletter-form__select')
        +e('a').link(href='./newsletter-templates')
          | управление шаблонами

    +e.field
      +label.label(for='title')
        | Тема
      +text-input({
        error: 'Поле невалидное'
      })(name='title' id='title' value=data.title)

    +e.field 
      +label.label(for='message')
        +e.label
          span 
            | Сообщение
          +e('a').link._preview
            | предпросмотр
      +textarea-input()(name='message' id='message').newsletter-form__textarea
        =data.message

    if data.havePreview
      +e.preview
        +e.preview-link._active
          | предпросмотр
        +e.preview-content._active
          p 
            b Бурый медведь 
            | - самый известный из своих соплеменников. Он стал персонажем многих
            | сказок и легенд у разных народов. Его нередко можно увидеть в 
            | цирковых представлениях. Он обладает большим уровнем интеллекта, 
            | хорошо поддается дрессировке.
          p
            | Его вес от 80 до 800 килограмм, длина тела 250 см, высота в холке 
            | 120см. Самки мельче самцов. У мишки крупная голова, маленькие 
            | круглые ушки, небольшие глазки, на лапах когти. А цвет меха бурый, 
            | отсюда и его название. Медведь имеет теплую мохнатую шубу. Морда у 
            | него вытянутая. Ходит медведь тяжело, двигая лапами как-то вкось, 
            | потому его и назвали косолапым.

    +e.controls
      +e.button
        +button({
          mod: 'common'
        })(type='submit')
          | Сохранить рассылку

      +e.button
        +button({
          mod: 'common'
        })(type='submit')
          | Добавить в шаблоны

      +e('a').delete(href='#')
        | Удалить
