include ../blocks/newsletter-form/index
include ../blocks/newsletter-layout/index
include ../blocks/newsletter-test/index
include ../blocks/newsletter-status/index

extends /layouts/main

block append variables
  - var headTitle = 'Рассылка №257';
  - var title = 'Рассылка №257';
  - var sitetoolbar = true
  - var header = false
  - var layout_main_class = "main_width-limit"
  - var layout_header_class = "main__header_center"

block append head
  !=css('markup')

block content
  +newsletter-layout()
    +e.section
      +newsletter-form()
    +e.section
      +newsletter-test()
    +e.section
      +newsletter-status({
        status: 'planned',
        date: '12.04.2016 13:00 UTC+3'
      })
