include ../blocks/newsletter-templates/index

extends /layouts/main

block append variables
  - var headTitle = 'Шаблоны рассылок';
  - var title = 'Шаблоны рассылок';
  - var sitetoolbar = true
  - var header = false
  - var layout_main_class = "main_width-limit-wide"
  - var layout_header_class = "main__header_center"

block append head
  !=css('markup')

block content
  +newsletter-templates({
    items: [
      {
        title: 'Тема шаблона',
        href: './newsletter-template-edit',
      },
      {
        title: 'Тема шаблона, которая, скорее всего не нужна',
        href: './newsletter-template-edit',
      },
      {
        title: 'Уже и так слишком много тем шаблонов, но это еще одна',
        href: './newsletter-template-edit',
      },
    ]
  })
