include ../blocks/newsletter-template/index

extends /layouts/main

block append variables
  - var headTitle = 'Новый шаблон рассылки';
  - var title = 'Новый шаблон рассылки';
  - var sitetoolbar = true
  - var header = false
  - var layout_main_class = "main_width-limit"
  - var layout_header_class = "main__header_center"

block append head
  !=css('markup')

block content
  +newsletter-template({
    title: 'Бурый медведь',
    message: 'Бурый медведь - самый известный из своих соплеменников. Он стал персонажем многих сказок и легенд у разных народов. Его нередко можно увидеть в цирковых представлениях. Он обладает большим уровнем интеллекта, хорошо поддается дрессировке.',
    isEdit: false
  })
