<div class="tags">
        <ul>
          <li><a href="#">
              <div class="tag">party</div></a></li>
          <li><a href="#">
              <div class="tag">party</div></a></li>
          <li><a href="#">
              <div class="tag">party</div></a></li>
          <li><a href="#">
              <div class="tag">party</div></a></li>
          <li><a href="#">
              <div class="tag">party</div></a></li>
        </ul>
      </div>