include /blocks/button/index

mixin newsletter-templates(data)
  - haveTemplates = data.items && data.items.length !== 0
  +b.newsletter-templates
    +e.content
      if (haveTemplates)
        each item in data.items
          +e('a').item(href=item.href)=item.title
      else
        p У вас пока еще нет шаблонов
        +e.button
          +button({
            mod: 'common',
            tag: 'a'
          })(href='./newsletter-template')
            | Cоздать шаблон
    if (haveTemplates)
      +e.button
        +button({
          mod: 'common',
          tag: 'a'
        })(href='./newsletter-template')
          | Cоздать новый шаблон
