include /blocks/textarea-input/index

mixin newsletter-failed(data)
  +b.newsletter-failed
    +section({
      color: 'red',
      title: 'Проблемные адресаты (' + data.items.length + ')'
    })   
      
      +e.label
        | Перечисленные ниже адреса рассылку не получили:

      +textarea-input({
        color: 'red'
      })
        =data.items.join('; ')
