@require '~styles/blocks/variables/variables'

@require 'newsletter-failed'
@require 'newsletter-form'
@require 'newsletter-layout'
@require 'newsletter-status'
@require 'newsletter-template'
@require 'newsletter-templates'
@require 'newsletter-test'
